:root {
    --primary: #dcbcbc;
    --secondary: #6c757d;
    --nav-background: #6c757d;

    --main-color: #D0CBB8;
    --main-color-darker: #9A9583;
    --color-accent: #5E7E7A;
    --color-accent-lighter: #81988B;
    --color-accent-darker: #42636A;
}

.background-right{
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    height: 60%;
    width: 100%;
    /*position:  relative;*/
    /*position:fixed;*/
    position:absolute;
    top:0;
    right:0;
    border-bottom-left-radius: 0px;
}

.div-footer {
    z-index: -10;
}

.div-back {
    z-index: -1;
}

.div-front {
    z-index: 30;
}

.text-color-accent-darker {
    color: var(--color-accent-darker)
}
.text-color-accent {
    color: var(--color-accent)
}
.text-color-accent-lighter {
    color: var(--color-accent-lighter)
}

.fixed-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
